doctype
html(lang='en')
    head
        block head
            meta(charset='utf-8')
            meta(name='viewport' content='width=device-width')
            link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
            link(rel='stylesheet' href='/css/style.css')
            link(rel='shortcut icon' type='imgae/png' href='/img/favicon.png')
            title Natours | #{title}
    body
        include _header
        
        // MAIN SECTION
        block content 
        // FOOTER SECTION
        include _footer

        // SCRIPT
        script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
        script(src='https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch')
        script(src='https://js.stripe.com/v3/')
        script(src='/js/mapbox.js')
        script(src='/js/index.js')
